<section id="about" name="about"></section>
<div id="aboutwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 name">
        <img class="img-responsive" src="/assets/img/nicole.jpg">
        <p>Nicole Kulick</p>
        <div class="name-label"></div>
      </div><!--/col-lg-4-->
      <div class="col-lg-8 name-desc">
        <h2>GRAD SCHOOL STUDENT &amp; <br/>FUTURE SCHOOL COUNCELOR &amp; <br/>A BUNDLE OF AWESOME</h2>
        <div class="name-zig"></div>
        
        <div class="col-md-6">
          <p>Makin' your way in the world today takes everything you've got. Takin' a break from all your worries sure would help a lot. Believe it or not I'm walking on air. I never thought I could feel so free. Flying away on a wing and a prayer. Who could it be? Believe it or not its just me.</p>
          <p>Come and knock on our door. We've been waiting for you. Where the kisses are hers and hers and his. Three's company too. Sunday Monday Happy Days. Tuesday Wednesday Happy Days. Thursday Friday Happy Days.Saturday what a day. Groovin' all week with you.</p>
        </div>
        <div class="col-md-6">
          <p>Wouldn't you like to get away? Sometimes you want to go where everybody knows your name. And they're always glad you came. Well we're movin' on up to the east side. To a deluxe apartment in the sky.</p>
          <p>Said Californ'y is the place you ought to be So they loaded up the truck and moved to Beverly. Hills that is. Swimmin' pools movie stars. black gold Didn't need no welfare states. Everybody pulled his weight. Gee our old Lasalle ran great. Those were the days?</p>
        </div>
        
      </div><!--/col-lg-8-->
  
    </div><!-- /row -->

    <hr>

    <div class="row">
      <div class="col-lg-4 name">
        <img class="img-responsive" src="/assets/img/craig.jpg">
        <p>Craig Wermert</p>
        <div class="name-label"></div>
      </div><!--/col-lg-4-->
      <div class="col-lg-8 name-desc">
        <h2>SOFTWARE DEVELOPER &amp; <br/>TALL GUY</h2>
        <div class="name-zig"></div>
        
        <div class="col-md-6">
          <p>Pastrami bacon tongue, pork filet mignon fatback shankle. Tri-tip chicken shoulder pig. Venison strip steak short loin chuck tri-tip, beef ribs leberkas pig. Rump ham jowl turkey sirloin chuck pork loin bacon, fatback landjaeger ball tip pork chop. Ribeye kevin swine, bacon shoulder tongue short loin prosciutto filet mignon turkey venison pork loin. Sirloin turkey flank rump porchetta. Leberkas sirloin chicken, short ribs boudin flank beef pork belly shoulder ham swine landjaeger capicola fatback filet mignon.</p>
        </div>
        <div class="col-md-6">
          <p>Pork chop drumstick pancetta porchetta. Meatball landjaeger pork loin capicola meatloaf, short loin ball tip jowl hamburger pastrami tri-tip chuck tenderloin. Strip steak frankfurter sirloin, pastrami ribeye pancetta tri-tip chuck rump kevin drumstick. T-bone tongue beef ribs, short loin corned beef doner chuck drumstick pig. Tongue t-bone turducken beef chicken doner.</p>
        </div>
        
      </div><!--/col-lg-8-->
    
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /aboutwrap -->