<!-- DETAILS SECTION -->
<section id="details" name="details"></section>
<div id="detailwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8-offset-2 centered">
        <h1>AN OVERVIEW OF THE WEDDING</h1>
        <h3>When, where, etc.</h3>
      </div><!-- /col-lg-8 -->
    </div><!--/row -->
    
    <div class="row mt">
      <div class="col-lg-6 detail">
        <div id="map"></div>
      </div>
      <div class="col-lg-6 venue detail">
        <h3>Vue Columbus</h3>
        <p class="address">
          95 Liberty Street<br>
          Columbus, OH 43215
        </p>
      </div>
    </div>
  </div>
</div>