<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav nav-justified">
      <li><a href="#home" class="smoothScroll">Home</a></li>
      <li><a href="#about" class="smoothScroll">About</a></li>
      <li><a href="#details" class="smoothScroll">Details</a></li>
      <li><a href="#contact" class="smoothScroll">Contact</a></li>
    </ul>
  </div>
</nav>