<!-- Menu -->
<nav class="menu" id="theMenu">
  <div class="menu-wrap">
    <h1 class="logo"><a href="index.html#home">C&amp;N</a></h1>
    <i class="fa fa-times menu-close"></i>
    <a href="#home" class="smoothScroll">Home</a>
    <a href="#about" class="smoothScroll">About</a>
    <a href="#details" class="smoothScroll">Details</a>
    <a href="#contact" class="smoothScroll">Contact</a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-envelope"></i></a>
  </div>
  
  <!-- Menu button -->
  <div id="menuToggle">MENU</div>
</nav>