<div class="container" id="userForm">
  <div class="row">
    <div class="col-md-6 user-form">
      <div class="form-group">
        <input type="text" class="form-control username" placeholder="Username" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control email" placeholder="Email" />
      </div>
      <div class="form-group">
        <input type="password" class="form-control password" placeholder="Password" />
      </div>
      <div class="form-group">
        <button class="btn btn-default" id="submitUser">Submit</button>
      </div>
    </div>
  </div>
</div>