{{#extend "stylesheets"}}
  {{!-- <link rel="stylesheet" href="/css/index.css"/> --}}
{{/extend}}

<section id="home" name="home"></section>
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>CRAIG &amp; NICOLE</h1>
      </div>
    </div><!--/row -->
  </div><!--/container -->
</div><!--/headerwrap -->
